* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* header */
#header .top {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px 10px;
}
#header .top .info a {
  color: white;
  margin-right: 15px;
  display: inline-block;
}
#header .top .info a:hover {
  color: white;
  text-decoration: none;
}
#header .top .info a i {
  margin-right: 5px;
  display: inline-block;
}
#header .bottom {
  padding: 10px 0;
}
#header .bottom ul li {
  display: inline-block;
}
#header .bottom ul li a {
  color: black;
  display: inline-block;
  margin-left: 15px;
}
#header .bottom ul li a:hover {
  color: black;
  text-decoration: none;
}

/* header */
.product-detail {
  padding: 40px 20px;
}
.product-detail .row {
  margin-left: 0;
  margin-right: 0;
}
.product-detail .row .col-md-4 {
  background: #F8F8F8;
  position: relative;
}
.product-detail .row .col-md-4 img {
  max-width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .product-detail .row .col-md-4 img {
    max-width: 80%;
  }
}
@media screen and (max-width: 575px) {
  .product-detail .row .col-md-4 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 576px) {
  .product-detail .row .col-md-4 {
    margin-top: 40px;
  }
}
.product-detail .row .col-md-8 {
  padding-left: 113px;
}
@media screen and (max-width: 575px) {
  .product-detail .row .col-md-8 {
    margin-top: 80px;
  }
}
@media screen and (min-width: 576px) {
  .product-detail .row .col-md-8 {
    margin-top: 80px;
  }
}
.product-detail .row .col-md-8 h5 {
  font-size: 30px;
  font-weight: 300;
  color: black;
}
.product-detail .row .col-md-8 p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.product-detail .row .col-md-8 p:nth-child(3) {
  font-size: 24px;
  font-weight: 600;
  color: #1ED90E;
}
.product-detail .row .col-md-8 p:nth-child(9) {
  font-size: 30px;
  font-weight: 600;
  color: #FC0303;
  margin: 16px 0;
}
.product-detail .row .col-md-8 p:nth-child(10) span {
  font-size: 30px;
  font-weight: 400;
  color: black;
  display: inline-block;
  padding: 0 10px;
}
.product-detail .row .col-md-8 p:nth-child(10) button {
  font-size: 30px;
  font-weight: 400;
  color: white;
  padding: 3px 15px;
  border: none;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.product-detail .row .col-md-8 p:nth-child(10) button:nth-child(3) {
  padding: 3px 17px;
}
.product-detail .row .col-md-8 a {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-right: 10px;
  display: inline-block;
  padding: 10px;
  background-color: #CCCCCC;
}
.product-detail .row .col-md-8 a:hover {
  color: black;
  text-decoration: none;
}
.product-detail .row .col-md-8 button {
  padding: 10px 10px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}

.related-product {
  background-color: #FFFCFC;
  padding: 30px 0;
}
.related-product .container h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: black;
  margin-bottom: 40px;
}
.related-product .container .row .col-md-4 {
  padding: 15px 15px;
}
.related-product .container .row .col-md-4 .card {
  position: relative;
  background-color: #F8F8F8;
  border: none;
  padding-top: 45px;
}
.related-product .container .row .col-md-4 .card img {
  width: 60%;
  height: auto;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.related-product .container .row .col-md-4 .card .card-body h4 {
  font-size: 24px;
  font-weight: 300;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.related-product .container .row .col-md-4 .card .card-body p {
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.related-product .container .row .col-md-4 .card .card-bottom {
  text-align: center;
}
.related-product .container .row .col-md-4 .card .card-bottom.row {
  margin-left: 0;
  margin-right: 0;
}
.related-product .container .row .col-md-4 .card .card-bottom .col-left {
  background: #E1B067;
  padding: 10px 0;
}
.related-product .container .row .col-md-4 .card .card-bottom .col-left p {
  font-size: 24px;
  font-weight: 300;
  color: black;
  margin: 0;
}
.related-product .container .row .col-md-4 .card .card-bottom .col-right {
  background: #DEDDDC;
  padding: 10px 0;
}
.related-product .container .row .col-md-4 .card .card-bottom .col-right p {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin: 0;
}

footer {
  padding: 50px 0;
}
footer .footer1 {
  background-color: #F8F8F8;
  padding: 20px 0;
}
footer .footer2 {
  background-color: #DEDDDC;
  padding: 20px 0;
}
footer .container {
  padding: 0 100px;
}
footer .container .row ul {
  list-style: none;
}
footer .container .row ul li {
  font-size: 15px;
}
footer .container .row ul li h5 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
footer .container .row ul li a {
  font-size: 15px;
  color: #FC0303;
  text-decoration: none;
}