* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* header */
#header .top {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px 10px;
}
#header .top .info a {
  color: white;
  margin-right: 15px;
  display: inline-block;
}
#header .top .info a:hover {
  color: white;
  text-decoration: none;
}
#header .top .info a i {
  margin-right: 5px;
  display: inline-block;
}
#header .bottom {
  padding: 10px 0;
}
#header .bottom ul li {
  display: inline-block;
}
#header .bottom ul li a {
  color: black;
  display: inline-block;
  margin-left: 15px;
}
#header .bottom ul li a:hover {
  color: black;
  text-decoration: none;
}

/* header */
.form .container {
  max-width: 1000px;
}
.form .container h4 {
  font-size: 40px;
  font-weight: 400;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
.form .container .row .col-md-6 {
  padding: 0 30px;
}
.form .container .row .col-md-6 .form-group .label p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  border-bottom: 4px solid #AE18E2;
}
.form .container .row .col-md-6 .form-group .label p input {
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin-bottom: 0;
  border: 0;
}
.form .container .row .col-md-6 .form-group .label p span {
  font-size: 30px;
  font-weight: 400;
  color: #FC0303;
}
.form .container .row .col-md-6 .form-group input {
  display: inline-block;
  margin-top: 15px;
}
.form .container .row .col-md-6 .form-group span {
  font-size: 30px;
  font-weight: 400;
  color: black;
  display: inline-block;
}
.form .container .row .col-md-6 .form-group label {
  font-size: 30px;
  font-weight: 400;
  color: black;
  display: inline-block;
}
.form .container .row .col-md-6 .form-group .valid {
  font-size: 20px;
  font-weight: 400;
  color: #FC0303;
  display: block;
}
.form .container .row .col-md-6 .form-group1 span {
  font-size: 30px;
  font-weight: 400;
  color: black;
  display: inline-block;
  margin-right: 20px;
}
.form .container .row .col-md-6 .form-group1 .valid {
  font-size: 20px;
  font-weight: 400;
  color: #FC0303;
  display: block;
}
.form .container .row .col-md-6 .form-group1 label {
  font-size: 30px;
  font-weight: 400;
  color: black;
  display: inline-block;
  margin-right: 20px;
}
.form .container .row .col-md-6 .form-group1 input {
  margin-right: 20px;
  background-color: #CCCCCC;
}
.form .container .row .col-md-6 button {
  background-color: #AE18E2;
  font-size: 30px;
  color: white;
  padding: 0px 50px;
}

footer {
  padding: 50px 0;
}
footer .footer1 {
  background-color: #F8F8F8;
  padding: 20px 0;
}
footer .footer2 {
  background-color: #DEDDDC;
  padding: 20px 0;
}
footer .container {
  padding: 0 100px;
}
footer .container .row ul {
  list-style: none;
}
footer .container .row ul li {
  font-size: 15px;
}
footer .container .row ul li h5 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
footer .container .row ul li a {
  font-size: 15px;
  color: #FC0303;
  text-decoration: none;
}