// 
$background-color: #F5F5F5;

//
$color-black: #000000;
$text-color-white: #F7F7F7;

// bien text
$text-16px: 16px;
$text-20px: 20px;
$text-24px: 24px;
$text-30px: 30px;
$text-40px: 40px;
// bien mau 
$color-black: black;
$color-white: white;
$color-green: #1ED90E;
$color-gray: #CCCCCC;
$color-yellow: #E1B067;
$color-red: #FC0303;

//mixin
@mixin text ($fs, $fw, $cl) {
    font-size: $fs ;
    font-weight: $fw ;
    color: $cl;

}

html {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: $color-black;
    font-weight: 300;
    background-color: $background-color;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.product {

    h1 {
        font-size: 40px;
        line-height: calc(48.21/40);
        font-weight: 400;
        // margin-bottom: 90px;
    }

    .product__container {
        padding: 90px 46px 100px 99px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 67px;
    }

    .card-bottom {
        .button {
            max-height: 64px;
            color: rgba(0, 0, 0, 1);
            font-size: 24px;
            font-weight: 200;
            line-height: calc(29.05/24);
            padding: 17px 27px 18px 39px;
        }

        .button-price {
            max-height: 64px;

        }

    }
}

header {
    #header-top {
        background: $color-black;
        padding: 10px 50px 8px 24px;

        .nav-item {
            margin-left: 25px;

            &.header-cart {
                position: relative;
                margin-right: 20px;
            }

            a {
                text-decoration: none;
                color: $text-color-white;

                span {
                    position: absolute;
                    font-size: 30px;
                    bottom: 1px;
                }
            }
        }

        .navbar-toggler {
            i {
                color: white;
            }
        }
    }

    #header-bottom {
        // margin-bottom: 25px;
        padding-left: 25px;

        .nav-item {
            &.line::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $color-black;
                display: block;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                width: 0%;
                height: 1px;
                background-color: $color-black;
                display: block;
                transition: .5s;
            }

            .nav-link {
                padding: 15px 0 10px;
                color: $color-black;
                font-size: 20px;
                line-height: calc(24/20);
            }

        }

        .nav-item:first-of-type {
            margin-right: 24px;
        }

        .nav-item:nth-of-type(2) {
            margin-right: 37px;
        }

        .nav-item:nth-of-type(3) {
            margin-right: 39px;
        }

        .nav-item:nth-of-type(4) {
            margin-right: 40px;
        }



    }

}

.carousel__Capstone {
    .carousel-indicators {
        bottom: -5%;

        li {
            width: 15px;
            height: 15px;
            border: 1px solid rgba(0, 0, 0, 0.13);
            color: rgba(217, 217, 217, 0);
            border-radius: 50%;
        }
    }

    .carousel-inner {
        overflow: unset;

        .carousel-item {
            position: relative;
            padding-left: 70px;

            .carousel-content {
                position: relative;
                z-index: 10;
                max-width: 821px;
            }

            .carousel-caption {
                text-align: left;
                top: 104px;
                left: 60%;
                color: $color-black;

                h3 {
                    font-size: 40px;
                    line-height: calc(48.41/40);
                    font-weight: 300;
                    margin: 0;
                }

                p {
                    font-size: 20px;
                    line-height: calc(24.2/20);
                    margin-bottom: 40px;
                }


            }


        }
    }

    .carousel-img {
        width: 100%;
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 2;
    }




}

// .product--card{
//     background: #F8F8F8;
//     .card-top{
//         padding: 45px 57px 0;
//         margin-bottom: 30px;
//     }
//     .card-bottom{
//         text-align: left;
//         .card-title{
//             padding-left: 23px;
//         }
//         h3{
//             font-size: 24px;
//             line-height: calc(29.5/24);
//             margin-bottom: 8px;
//             font-style: normal;
//             font-weight: 200;
//         }
//         p{  
//             color: rgba(203, 201, 201, 1);
//             font-size: 20px;
//             line-height: calc(24.2/20);
//             // font-weight: 300;
//             margin-bottom: 13px;
//         }
//     }
// }
.row {

    .col-md-4 {
        padding: 15px 15px;

        .card {
            position: relative;
            background-color: #F8F8F8;
            border: none;
            padding-top: 45px;

            img {
                width: 60%;
                height: auto;
                position: relative;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            .card-body {

                h4 {
                    @include text($text-24px, 300, $color-black );
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // width: 309px;
                }

                p {
                    @include text($text-20px, 300, #CBC9C9);
                    overflow: hidden;
                    line-height: 2rem;
                    max-height: 8rem;
                    -webkit-box-orient: vertical;
                    display: block;
                    display: -webkit-box;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    // max-width: 309px;

                }
            }

            .card-bottom {
                text-align: center;


                &.row {
                    margin-left: 0;
                    margin-right: 0;
                }

                .col-left {
                    background: #E1B067;
                    padding: 10px 0;


                    p {
                        @include text($text-24px, 300, $color-black );
                        margin: 0;
                    }
                }

                .col-right {
                    background: #DEDDDC;
                    padding: 10px 0;

                    p {
                        @include text($text-24px, 600, $color-black );
                        margin: 22px;

                    }
                }
            }
        }
    }
}

.button {

    outline: none;
    padding: 13px 35px;
    font-size: 20px;
    line-height: calc(24.2/20);
    background-color: #E1B067;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: .5s;
    border-radius: 0;

    &:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        // background-color:  #ff0000;
    }
}

.button-price {
    padding: 17px 40px 18px 66px;
    background-color: rgba(222, 221, 220, 1);
    font-size: 24px;
    line-height: calc(29.5/24);
    color: #000000;
    font-weight: 600;
    transition: .5s;

    &:hover {
        background-color: #F8B653;
        color: white;

    }
}
@media (max-width:992px) {
    .carousel__Capstone .carousel-inner{
        margin-bottom: 100px;
    }
    .carousel__Capstone .carousel-inner .carousel-item .carousel-caption{
        left: unset;
        right: 5%;
        top: 10%;
    }
    .carousel__Capstone .carousel-inner .carousel-item .carousel-content{
        width: 60%;

    }
    .carousel__Capstone .carousel-indicators{
        bottom: -20%;
    }
    .carousel__Capstone .carousel-img{
        top: -20%;
    }
}
@media (max-width:768px) {
    .carousel__Capstone .carousel-indicators{
        bottom: -60%;
    }
    .carousel__Capstone .carousel-img{
        top: -35%;
        
    }
}

@media (max-width:576px) {
    .carousel__Capstone .carousel-inner{
        margin-bottom: 100px;
    }
    .carousel__Capstone .carousel-inner .carousel-item{
        padding-left: 10px;
        .button{
            padding: 10px 15px;
        }
    }
    .carousel__Capstone .carousel-img{
        top: -60%;
        width: 50%;
    }
    
    .carousel__Capstone .carousel-indicators{
        bottom: -85%;
    }
    .product{
        margin-top: 30px;
    }
}